/* Font */
@import url('https://fonts.googleapis.com/css2?family=Aboreto&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Qwitcher+Grypen:wght@700&display=swap');


/* font-finished */
body{
    margin:0 ;
}
nav{
    background-color: rgb(79, 4, 79);
    
}
.menu-title{
    font-size: 1rem;
    margin: 2%;
    font-family: 'Aboreto', cursive;
    color: whitesmoke;

}
/* .nav-item-2{
    display: none;
} */
.menu-bar{
    display: flex;
    /* justify-content: space-evenly; */
    align-items: center;
}
.nav-item, .nav-item-1{
    position: relative;
    left: 30%;
    margin-left: 3%;
    font-size: 13px;
    color: white;
    
}
.nav-item-2{
    position: relative;
    left: 30%;
    margin-left: 3%;
    font-size: 13px;
    color: white;
    font-size: 2.5rem;
    margin-left: 5%;
    display: none;
}
.nav-item-1{
    font-size: 2.5rem;
    margin-left: 5%;
}
/* Navbar will be done */

/*---------------------- 
    First section start
-------------------- */

.first-section{
    display: flex;
    width: 80%;
    align-items: center;
    justify-content: space-between;
    margin-left: 10%;
    margin-top: 10%;
    /* background-color: aqua; */
}
.first-section-titale{
    width: 90%;
}
.btn-01{
    background-color: crimson;
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    transform: 1.5;
    /* margin-top: 20px; */

}
.btn-02{
    background-color: crimson;
    text-decoration: none;
    color: white;
    padding: 10px 5px;
    border-radius: 10px;
    transform: 1.5;
    display: none;
}
.btn-03{
    background-color: crimson;
    text-decoration: none;
    color: white;
    padding: 15px 40px;
    border-radius: 10px;
    transform: 1.5;
}

.btn-01:hover{
    background-color: white;
    color: black;
    font-weight:700 ;
    opacity: 0.9;
    transition: 0.5s;
}
.arrow-right{
    position: relative;
    left: 2%;
    top: 5px;
    font-size: 1.3rem;
    /* display: none; */
}
.first-section-titale img{
    width: 100%;
}
/* First Section finished */


hr{
    width: 80%;
    color: orangered;
    opacity: 0.2;
    border: 1px solid orangered;
}
.second-section-main{
    margin-top: 10%;
}
.second-section-header{
    text-align: center;
    margin-bottom: 5%;
    font-size: 5rem;
    font-family: 'Qwitcher Grypen', cursive;
    color: crimson;
}
.collection{
    font-family: 'Aboreto', cursive;
    font-size: 1rem;
    color: black;
}
.logo-section{
    display: flex;
    align-items: center;
    justify-content: center;

}
.logo-item{
    margin-left: 5%;
}


/* Thirts Section */
.grid-item{
    width: 80%;
    align-items: center;
    /* background-color: brown; */
    position: relative;
    left: 150px;

}
.flex-item{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    /* position: relative; */
    /* left: 100px; */
    grid-row-gap: 5%;
    grid-column-gap: 8%;
}
.first-item{
    box-shadow: 5px 2px 40px black;
    padding: 15px;
    border-radius: 10px;
}
.first-item img{
    width: 100%;
}
.icons-flex{
    display: flex;
    align-items: center;
}
.icon-star{
    color: rgb(50, 43, 2);
    font-size: 10px;
}

.review{
    margin-left: 3%;
}
/*----------------------------------------- 
    last-section 
-----------------------------------------------*/

.last-section{
    margin-top:25% ;
    width: 80%;
    /* background-color: violet; */
    position: relative;
    left: 150px;

}
.fiture-produts-section{
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.half-width{
    width: 50%;
}
.half-width img{
    width: 80%;
}


/* footer section */
.footer-main-section{
    margin-top: 10%;
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: black;
    color: white;
}
.footer-icon-flex{
    display: flex;
}
.footer-icons{
    margin: 10px;
    font-size: 1.4rem;
}


/* ----------------------------
    @mediaa queries
--------------------------------- */

@media screen and (max-width:576px){
    .first-section{
    flex-direction:column;
    }
    .nav-item{
        display: none;
    }
    .nav-item-1{
        display: none;
    }
    .nav-item-2{
        display: block;
        font-size: 1.5rem;
    }
    .first-section-titale{
        order: 1;
    }
    .btn-01{
        display: none;
    }
    .btn-02{
        display: block;
        width: 50%;
        text-align: center;
        margin-left: 25%;
    }
    .logo-section{
        flex-direction: column;
        justify-content: space-between;
    }
    .logo-item{
        padding: 8px;
        margin-left: 20px;
    }
    .grid-item{
        width: 90%;
        position: relative;
        left: 0px;
        margin: 0;
        padding-left: 5%;
    }
    .second-section-header{
        text-align: center;
    }
    .flex-item{
        grid-template-columns:repeat(1, 1fr);
        margin: 0;
        grid-row-gap: 1%;
        grid-column-gap: 1%;
    }
    .first-item{
        padding-right: 15px;
    }

    .last-section{
        left: 0;
    }
    .half-width{
        width: 100%;
        margin-left: 30px;
    }
    .fiture-produts-section{
        flex-direction: column;
        margin-top: 500px;
        padding-left: 10%;
    }
    .fiture-produts-section img{
        width: 100%;
    }
}